<div class="sidenav-content">
  <div *ngIf="sideNav | async as sideNav">
    <mat-card>
      <mat-card-title>Search Options</mat-card-title>
      <mat-card>
        <mat-card-subtitle>Number Of Search Results</mat-card-subtitle>
        <mat-slider max="30" step="1" thumbLabel="true" [(ngModel)]="sideNav.searchLimit" (click)="setValue(sideNav.searchLimit)"></mat-slider>
        <mat-card-actions>
          <button mat-icon-button (click)="decrement()">
            <i class="material-icons">chevron_left</i>
          </button>
          <button mat-icon-button (click)="increment()">
            <i class="material-icons">chevron_right</i>
          </button>
          <button mat-icon-button (click)="reset()">
            <i class="material-icons">clear</i>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-subtitle>Auto Play</mat-card-subtitle>
        <mat-slide-toggle (ngModelChange)="toggle($event)" [ngModel]="sideNav.autoPlay">
          Auto Play
        </mat-slide-toggle>
      </mat-card>
    </mat-card>
  </div>


</div>