md-card{
   overflow: hidden;
   margin-bottom: 20px;
   max-width: 350px;
 }

.row{
    overflow: hidden; 
}

img{
  height:auto; 
  width: 100%;
}

.flex-fill-row{
  flex: 1 1 auto;
}

.display-flex{
  display: flex;
}

i{
  font-size: 35px;
}
