md-input-container{
  width:100%;
}

/* When the input is not focused */
md-input-container label {
  color: white;
}

md-progress-bar {
  width:100%;
}

md-toolbar{
    margin-top: 20px;
    margin-bottom: 20px;
  }

