mat-input-container{
  width:100%;
}

/* When the input is not focused */
mat-input-container label {
  color: white;
}

mat-progress-spinner {
 margin-top: 20%;
  width:100%;
}

mat-toolbar{
  margin-top: 20px;
  margin-bottom: 20px;
}
