<md-sidenav-container fullscreen>
  <div class="container-fluid">
    <md-toolbar>
      <md-input-container floatPlaceholder="never">
        <input #search (keyup.enter)="searchGiphy(search.value)" color="warn" type="text" mdInput placeholder="Search">
        <i class="material-icons md-18" mdSuffix>mode_edit</i>
      </md-input-container>
    </md-toolbar>
    <div class="fab-wrapper">
      <button md-fab (click)="sidenav.toggle()" color="primary"><i class="material-icons">settings</i></button>
    </div>
    <md-progress-bar *ngIf="loading" mode="query"></md-progress-bar>
    <app-search-results [searchResults]="searchResults"></app-search-results>

    <md-sidenav class="side-nav" #sidenav mode="side">
      <div id="advanced-options">
        <md-toolbar>
          <span>Toggle trending</span>
          <md-toolbar-row>
            <span>Detailed options</span>
          </md-toolbar-row>
          <md-toolbar-row>
            <span>More detailed options</span>
          </md-toolbar-row>
        </md-toolbar>
      </div>

    </md-sidenav>
  </div>
</md-sidenav-container>