md-input-container{
  width:100%;
}

/* When the input is not focused */
md-input-container label {
  color: white;
}

md-progress-bar {
 margin-top: 20%;
  width:100%;
}

md-toolbar{
  margin-top: 20px;
  margin-bottom: 20px;
}

.fab-wrapper{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.side-nav{
  background-color: lightgray;
  width: 300px;
}

#advanced-options{
  margin-top: 50%;
}