<mat-sidenav-container>
    <mat-toolbar color="primary">
        <span>
            <a class="navbar-brand" style="color:white;" [routerLink]="['/']">Giphy(s)</a>
        </span>
    </mat-toolbar>
    <mat-sidenav class="side-nav" #sidenav mode="over">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <router-outlet></router-outlet>
    <div class="fab">
        <button mat-fab (click)="sidenav.toggle()" color="primary">
            <i class="material-icons">settings</i>
        </button>
    </div>
</mat-sidenav-container>