mat-toolbar{
    margin-bottom: 30px;
}

.fab{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.fab-wrapper{
    height: auto;
    width: 100%;
}


mat-sidenav-container{
    height: 100vh;
}