<div class="container">
  <md-toolbar color="primary">
    
      <h1>Material Music</h1>
  
    <md-toolbar-row> 
      <md-input-container color="accent" floatPlaceholder="never">
        <input mdInput placeholder="Search for some music"> <md-icon mdSuffix>search</md-icon>
      </md-input-container>
    </md-toolbar-row>  
    
  </md-toolbar>

  <!--<pre>{{artistsArray | json}}</pre>-->

  <md-grid-list cols="3" rowHeight="40em" gutterSize="10px">
    <md-grid-tile *ngFor="let artist of artistsArray let i = index">
      <md-card>
        <img md-card-image src="{{ artist.image[3]._}}">
        <md-card-header>
          <md-card-title>{{ artist.name }}</md-card-title>
        </md-card-header>

        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>

  
</md-card>-->